@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,240;1,100;1,100; ;1,500;1,600;1,700;1,800;1,900 & displey=almashtirish");

* {
	margin: 0;
	padding: 5px 10px;
	box-sizing: border-box;
	transition: all 0.5s;
}

.navbar {
	padding: 0 30px;
	display: flex;
	color: #263238;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	align-items: center;
	justify-content: space-between;
}
.navBtn {
	color: #000;
	background-color: rgb(253, 253, 253);
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	border-radius: 5px;
	border: 2px solid #263238;
	line-height: normal;
	padding: 5px 10px;
	cursor: pointer;
}
.navBtn:hover {
	color: #fff;
	background-color: #263238;
}
.salom {
	width: 140px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	transition: all 0.5s;
	color: #fff;
	background-color: #263238;
}

.Learn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
}

.sale {
	width: 550px;
}
.sivit {
	position: absolute;
	left: 480px;
	top: 300px;
}
.h1 {
	color: #000;
	font-family: Poppins;
	font-size: 54px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px; /* 125% */
}
.p {
	color: #8f95a5;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.get {
	color: #fff;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	width: 280px;
	border: 2px solid white;
	padding: 8px 25px;
	line-height: normal;
	border-radius: 15px;
	background: #263238;
}
.get:hover {
	color: #263238;
	background: #fff;
	border: 2px solid black;
}
.any {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.sale {
	width: 360px;
}
.writ,
.reding,
.litinglar {
	width: 220px;
}

.skils {
	display: grid;
	margin-top: 100px;
	gap: 30px;
	place-items: center;
}

.gridlar {
	display: grid;
	width: 80%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	/* align-items: center; */
	grid-template-rows: 1fr 1fr;
}

.speking {
	grid-column-start: 1;

	grid-column-end: 2;
	border-radius: 10px;
	background: #f5f5f5;
	grid-row-start: 1;
	height: 760px;
	grid-row-end: 3;
}
.writing {
	grid-column-start: 2;
	width: 272px;
	border-radius: 10px;
	background: #f5f5f5;
	grid-column-end: 3;
}
.reding {
	grid-column-start: 3;
	margin-top: 10px;
	grid-column-end: 4;
	border-radius: 10px;
	background: #f5f5f5;
	width: 272px;
}
.liting {
	border-radius: 10px;
	background: #f5f5f5;

	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	place-items: center;
	width: 580px;
	height: 300px;

	/* background-color: #263238; */
}
.spanalr2 {
	display: flex;
	align-items: center;
	gap: 20px;
}
.spancha {
	gap: 30px;
}

.learn2 {
	color: #fff;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	width: 150px;
	border: 2px solid white;
	padding: 8px 25px;
	line-height: normal;
	border-radius: 15px;
	background: #263238;
}
.learn2:hover {
	color: #263238;
	background: #fff;
	border: 2px solid black;
}

.pul {
	width: 550px;
}
.abouth1 {
	color: #000;
	font-family: Poppins;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px; /* 166.667% */
}
.aboutp {
	color: #8f95a5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.about {
	display: flex;
	align-items: center;
}
.aboutSpan {
	display: flex;
	gap: 30px;
}
.aboutP {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	color: #8f95a5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.son {
	color: #2a3246;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px; /* 166.667% */
}
.self .selfasas {
	width: 300px;
}
.personal {
	width: 300px;
}
.self img {
	width: 350px;
}
.self {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 300px;
}
.nhhyfdgf {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	height: 600px;
}
.selfa {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 610px;
	width: 300px;
}
.livea {
	width: 350px;
}
.selfa {
	display: flex;

	flex-direction: column;
}
.per {
	display: flex;
	border-radius: 5px;
	background: #eee;
	width: 240px;
	height: 45px;
	flex-shrink: 0;
}

.self-study {
	color: #263238;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px; /* 160% */
}
.selStart {
	color: #8f95a5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.per p {
	color: #546269;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.per h3 {
	color: #263238;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.pricingImg {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50px;
}
.pricing {
	display: grid;
	place-items: center;
	margin-top: 100px;
	gap: 20px;
}

.odamcha {
	width: 300px;
}

.contact {
	display: flex;
	margin-top: 130px;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
.contacth1 {
	color: #000;
	font-family: Poppins;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px; /* 166.667% */
}
.aaaa {
	color: #8f95a5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.onglarv {
	width: 600px;
}
.ferx {
	display: flex;
	align-items: center;
	grid-area: 50px;
	width: 600px;
	justify-content: space-around;
}
.emter {
	color: #8f95a5;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 15px 0;
	border-radius: 10px;
	width: 380px;
	border: 1px solid #8f95a5;
}
.btn {
	color: #f7f7f7;
	border-radius: 10px;
	background: #263238;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	padding: 10px 20px;
	border: 2px solid #263238;
	line-height: normal;

	cursor: pointer;
}
.btn:hover {
	color: #263238;
	background-color: #e6e8e9;
}
.tugadi {
	color: #8f95a5;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.log {
	border-top: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footr {
	margin-top: 50px;
}
